#app{
  .header{
    background: #fff;
    position: relative;
    height: 4rem;
    img{
      position: absolute;
      left: 1.0rem;
      top: 1rem;
      display: block;
      font-size: 1.8rem;
      padding-top: .11rem;
      height: 1.8rem;
    }
  }
}