.mint-header-button.is-righ{
  position:relative;
}


.book_mod {
  padding-bottom: 10px;
  background: #fff;
  position: relative;
  width: 100%;
  height: 120px;
  z-index: 0;
  .cover {
    position: absolute;
    height: 120px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .shadow {
    background: #000;
    opacity: .8;
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .dl_a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
  }
  .detail_table {
    padding: 20px 10px 0 20px;
    border: none;
    overflow: hidden;
    dt {
      width: 80px;
      height: 112px;
      padding-right: 12px;
      position: relative;
      float:left;
      span {
        border-radius: 15px 0 0 0;
        display: block;
        color: #fff !important;
        text-align: center;
        right: 12px;
        bottom: 0;
        position: absolute;
        width: 50px;
        letter-spacing: 1px;
        padding-left: 2px;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
      }
    }
  }
  .detail_table dd {
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    color: #999;
    word-wrap: break-word;
    font-size: 12px;
    h1{
      padding-bottom:5px;
      color:#000;
      font-size:16px;
    }
    p span {
        display: block;
        line-height: 20px;
    }
    p span.cc {
      color: #ccc;
      padding-top: 3px;
    }
    p b {
      display: block;
      position: absolute;
      bottom: 20px;
      right: 0;
      font-weight: normal;
      i {
        font-style: normal;
        display: inline-block;
        margin-right: 6px;
        border-radius: 10px;
        color: #fff;
        padding: 0 5px;
        line-height: 20px;
        text-align: center;
        font-size: 10px;
      }
      .xuanhuan {
        background: #72a0ff !important;
      }
      .dushi {
        background: #6fd2cf !important;
      }
    }

  }
}


.details{
  .read_txt{
    text-align:center;
    font-size:14px;
    margin:10px 0;
    span{
      display:inline-block;
      border:1px solid #fd6974;
      color: #fd6974;
      width:100px;
      height:35px;
      line-height:35px;
      text-align:center;
    }
    span.readnow{
      background:#fd6974;
      color:#fff;
    }
    .read_txt_dels{
      margin:10px 0;
      color:#666;
      line-height:20px;
      text-indent:2em;
    }
  }
  .del_btm{
    background-color:#eee;
  }
  .del-list{
    padding:10px 0;
    ul>li{
      background:#fff;
      margin-bottom:10px;
      .del_txt_title{
        padding-left:10px;
        font-size:16px;
        color:#333;
        padding-left:0;
        height:40px;
        line-height:40px;
      }
      span{
        color:#999;
        font-size:12px;
        padding-left:5px;
      }
      .title_time{
        float:right;
        height:40px;
        line-height:40px;
      }
      h3{
        border-bottom:1px solid #999;
        span:first-child{
          padding-left:10px;
        }
        span:last-child{
          float:right;
          height:40px;
          line-height:40px;
          padding-right:10px;
        }
      }
    }
    ul>li.del_one{
      border-top:1px solid #666;
      padding:0 10px;
    }
    ul .del_two ul{
      overflow:hidden;
      li{
        margin:10px 0;
        float:left;
        width:25%;
        text-align:center;
        line-height:20px;
        span{
          display:block;
          text-align:center;
        }
      }
    }
    ul .del_three{
      li{
        overflow:hidden;
        margin:30px 0;
        .customer-img{
          width:50px;
          float:left;
          padding: 0 10px 10px;
          height: 110px;
          overflow: hidden;
          img{
            width: 30px;
            height: 30px;
            border-radius: 20px;
          }
        }
        .customer-comments{
          overflow:hidden;
          margin-right:10px;
          padding-bottom:30px;
          border-bottom:1px solid #ddd;
          .cus-del{
            float:left;
            p{
              font-size: 14px;
              color: #333;
              line-height: 22px;
              margin-bottom: 8px;
              position: relative;
              white-space: nowrap;
              border-bottom: none;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .con_num{
            float:right;
          }
        }
      }
      a{
        display:block;
        text-align: center;
        border-top: solid 1px #ccc;
        height: 32px;
        line-height: 32px;
      }
    }
    ul .same-book{
      .s1{
        float:none;
      }
      ul{
        overflow:hidden;
        li{
          float:left;
          margin:10px 12px;
        }
      }
      
    }
  }
  .bot_ecode {
    padding: 30px 0;
    text-align: center;
    width: 100%;
    .bot_ecode .ecot_t1 {

      margin-bottom: 15px;
      font-size: 16px;
      color: #333;
    }
    img {
      width: 110px;
      height: 110px;
      margin: 0 auto;
      text-align: center;
      border: 1px solid #ddd;
      margin: 7px;
      clear:both;
    }
    .ecot_t2 {
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
      color: #999;
    }
  }
}